.form {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  :global {
    .ant-input-number {
      border: none;
      // border-bottom: 1px solid #eee;
      border-radius: 0;
      outline: none;
      box-shadow: none;
      // text-align: right;
    }
  }


  &>.wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 0 0 20px;
  }

  .hd {
    display: flex;
    align-items: center;
    height: 60px;

    .select {
      flex: 1;
      height: 45px;
      margin: 5px 10px 5px 0;
    }

    button {
      width: 60px;
      height: 100%;
      margin: 0 10px;
    }

    .close {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 28px;
        height: 28px;
        color: #999;
      }
    }
  }


  .emptyWarp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0 10px;
    box-shadow: var(--shadow);
    padding: 15px;
    border-radius: 6px;

    .state {
      position: absolute;
      right: 10px;
      top: 10px;
    }


    .itemwarp {
      display: flex;
    }

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .camera {
      position: absolute;
      right: 0;
      top: 0;
      width: 48px;
      height: 48px;
      border: 1px solid #666;
      padding: 8px;
      box-sizing: border-box;
      border-radius: 5px;

      span {
        width: 100%;
        height: 100%;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .row_wrap {
      display: flex;
      margin-top: 10px;


      &+.row {
        margin-top: 10px;
      }

      .row+.row {
        margin: 0 0 0 10px;
      }

      .row {

        span {
          flex: 1;
          display: block;
          text-align: center;
          font-size: 24px;
          width: 100%;
          font-family: sans-serif;
          font-weight: bold;
          color: #dd0000;
        }

        input {
          color: #dd0000;
          font-size: 24px;
          text-align: center;
          width: 100%;
          border: none;
          border-bottom: 1px solid #eee;
          border-radius: 0;
          line-height: 1;
          padding: 0;
          font-family: sans-serif;
          font-weight: bold;
          outline: none;
          box-shadow: none;

        }
      }
    }

    .num {
      position: relative;

      font-family: sans-serif;
      color: #666;
      font-weight: bold;
      width: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .re {
        position: relative;
        line-height: 1;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          position: absolute;
          z-index: 999;
          opacity: .3;
          font-size: 13px;
          font-weight: 300;
          right: -5px;
          top: -5px;
        }

        span {
          display: block;
          width: 80px;
          text-align: center;
          font-size: 32px;
        }



        input {
          color: #dd0000;
          font-size: 32px;
          width: 80px;
          border: none;
          border-bottom: 1px solid #eee;
          border-radius: 0;
          line-height: 1;
          padding: 0;
          font-family: sans-serif;
          font-weight: bold;
          outline: none;
          box-shadow: none;

        }
      }


    }

    .fun {
      margin-top: 10px;
      border-top: 1px solid #eee;
      padding-top: 10px;
      display: flex;
      justify-content: space-evenly;
    }

    .row {
      flex: 1;
      display: flex;
      // flex-direction: column;


      &+.row {
        margin-top: 10px;
      }

      &>label {
        font-size: 13px;
        /* font-weight: bold; */
        color: #666;
        margin: 0 0 5px;
        min-width: 70px;
        align-items: center;
        display: flex;
      }

      &>span {
        font-size: 15px;
        color: #333;
        flex: 1 1;
        padding: 0 20px 0 0;
        font-weight: bold;
      }


    }
  }




  .scan {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;

    &>.wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70vw;
      height: 70vw;
      border-radius: 5px;
      background: var(--clr-blue) linear-gradient(var(--clr-blue), transparent);
      box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
    }


    img {
      position: absolute;
      width: 50vw;
      height: 50vw;
      color: #fff;
      opacity: .3;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    input {
      opacity: 0;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }
}