.menu {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: var(--clr4);
  align-self: center;
  justify-content: space-between;

  .logo {
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    // width: 200px;
    padding: 0 20px;
    cursor: pointer;

    img {
      height: 48px;
    }
  }



  .btn {
    height: 45px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
    width: 45px;
    position: relative;
    margin: 0 10px 0 0;

  }
}