.form {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;


  .wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    width: var(--pop-width);
    height: var(--pop-height);
    background: #fff;
    border-radius: 5px;
    padding: 20px;
  }

  .tl {
    background: var(--clr-blue);
    color: #fff;
    margin: -20px -20px 0 -20px;
    padding: 10px 20px;
    font-size: 20px;
  }

  .basic {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      align-items: center;

      &>span {
        margin-right: 10px;
        font-size: 14px;
      }
    }

    .select {
      flex: 1;

      &+span {
        margin-left: 20px;
      }
    }
  }


  .head {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;

    h1 {
      font-size: 20px;
      flex: 1;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    flex: 1;

    .row {
      display: flex;
      margin-bottom: 10px;

      // input:nth-child(2) {
      //   border-radius: 0;
      //   border: none;
      //   border-bottom: 1px solid #ccc;
      // }

      // input:first-child {
      //   width: 700px;
      //   text-align: center;
      // }

      input {
        flex: 1;
        margin-right: 10px;
      }

    }
  }

  .fun {
    display: flex;
    margin: 20px;
    justify-content: center;
    // position: absolute;
    bottom: 0;
    align-items: center;
    width: 100%;

    button+button {
      margin-left: 20px;
    }
  }
}